<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962281741302-ro9ut3j8gon6emmn32lhd61oubpe79j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962281741302-ro9ut3j8gon6emmn32lhd61oubpe79j8</string>
	<key>API_KEY</key>
	<string>AIzaSyAK5UAkx_UL3qTttJ-r7NVwbrCpZJsy7B0</string>
	<key>GCM_SENDER_ID</key>
	<string>962281741302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youggy</string>
	<key>PROJECT_ID</key>
	<string>youggy-cbbae</string>
	<key>STORAGE_BUCKET</key>
	<string>youggy-cbbae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962281741302:ios:ed4557059a0e0c73bdc5d7</string>
	<key>DATABASE_URL</key>
	<string>https://youggy-cbbae.firebaseio.com</string>
</dict>
</plist>